@mixin display_flex($direccion, $principal, $secundario) {
  display: flex;
  flex-direction: $direccion;
  justify-content: $principal;
  align-items: $secundario;
}

@mixin display_grid($fila, $columna, $minimo, $relleno) {
  display: grid;
  grid-template-columns: repeat($columna, 1fr);
  grid-template-rows: repeat(auto-fill, minmax($minimo, 1fr));
  grid-gap: $relleno;
  grid-auto-flow: dense;
  align-items: start;
}
@mixin estilo_texto($fuente, $alineamiento_texto, $tamano_fuente, $color, $interlineado) {
  font-family: $fuente;
  text-align: $alineamiento_texto;
  font-size: $tamano_fuente;
  color: $color;
  line-height: $interlineado;
}
