@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

:root {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  --color_fondo_imagen: rgba(50, 50, 50, 0.75);
  --color_titulo: #333333;
  font-family: Montserrat;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
img {
  max-width: 100%;
  object-fit: fill;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0 0.9375rem 0 var(--color_fondo_imagen);
}
a {
  text-decoration: none;
}
h2 {
  font-weight: bolder;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: center;
  color: #4e5150;
}
h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #bdbdbd;
}
h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #4e5150;
}
@keyframes aparecePerfil {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  25% {
    opacity: 0.25;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.5;
    transform: scale(1);
  }
  75% {
    opacity: 0.75;
    transform: scale(1.025);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
