.home {
  max-width: var(--ancho_maximo);
  padding: var(--relleno_home_movi);
  margin: 0 auto;
  animation: apareceSitio 0.8s linear;
  & > * + * {
    margin-top: 1.5rem;
  }
}
@media screen and(min-width:50rem) {
  .home {
    padding: var(--relleno_home_escritorio);
  }
}
