.home {
  max-width: var(--ancho_maximo);
  margin: 0 auto;
  padding: var(--relleno_home);
  height: 100vh;
  animation: apareceSitio 0.8s linear;
  @include display_flex(column, center, center);
  & > * + * {
    margin-top: 1.5rem;
  }
}
