.home {
  max-width: 90rem;
  padding: 20px 15px;
  margin: 0 auto;
  animation: apareceSitio 0.8s linear;
  & > * + * {
    margin-top: 1.5rem;
  }
}
@media screen and(min-width:50rem) {
  .home {
    padding: 25px 219px;
  }
}
