.perfil {
  width: 100%;
  animation: aparecePerfil 1s ease-in-out;
  @include display_flex(column, space-between, center);
  figure {
    flex-basis: 100%;

    &,
    figcaption {
      @include display_flex(column, center, center);
    }
    img {
      width: 25vmin;
    }
  }
  .tarjeta {
    width: 100%;
    @include display_flex(row, space-around, center);
    .contenido {
      flex-basis: 25%;
      padding: 0.5em 1em;
      background: #e5e5e5;
      border-radius: 0.75rem;
      margin-top: 0;
      @include display_flex(column, space-between, center);
    }
  }
}
