.parrafo,
.enlace {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.87rem;
  line-height: 1.06rem;
  text-transform: none;
  color: var(--color_primario);
}
.enlace {
  font-style: italic;
  text-transform: capitalize;
  font-weight: bolder;
}
.titulo {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.87rem;
  line-height: 1.06rem;
  text-align: center;
  color: var(--color_primario);
}
.subtitulo {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.62rem;
  line-height: 0.75rem;
  text-align: center;
  color: var(--color_secundario_gris);
}
.puntaje {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.93rem;
  text-align: center;
  color: var(--color_primario);
}
