.galeria {
  width: 100%;
  align-self: center;
  animation: aparecePerfil 1s ease-in-out;
  @include display_grid(1, 1, 200px, 0.5em);

  figure {
    margin-top: 0;
    img {
      border-radius: 15px;
    }
  }
  @media screen and(min-width:600px) {
    @include display_grid(3, 3, 200px, 0.5em);
    #img_2 {
      grid-column: 2/ 4;
      grid-row: 1 / 2;
    }

    #img_3 {
      grid-column: 1/ 3;
      grid-row: 2/ 3;
    }
    .sub_imagenes {
      grid-column: 1/ 3;
      grid-row: 2/ 3;
      margin-top: 0;
      @include display_grid(2, 2, 200px, 0.5em);

      #img_3 {
        grid-column: 1/ 3;
        grid-row: 1/ 3;
      }
    }
    @media screen and(min-width:50em) {
      width: 100%;
    }
  }
}
