.informacion {
  @include display_flex(row, space-around, center);
  & > * + * {
    margin-left: 12px;
  }
  .contenido {
    flex-basis: 25%;
    padding: 10px 15px;
    background: #e5e5e5;
    border-radius: 0.75rem;
    margin-top: 0;
    @include display_flex(column, space-between, center);
    & > * + * {
      margin-top: 10px;
    }
  }
}
